<div class="card p-4">
  <h2 class="mb-4">
    {{ isEditMode ? 'Modifier une article commande' : 'Nouvelle article commande' }}
  </h2>

  <form [formGroup]="articleCommandeForm" (ngSubmit)="onSubmit()">

    <!-- Prix depart -->
    <div class="row mb-3">
      <div class="col">
        <label for="prixDepart">Prix départ *</label>
        <input
          type="number"
          id="prixDepart"
          class="form-control"
          formControlName="prixDepart"
        >
      </div>
    </div>

    <!-- Quantite -->
    <div class="row mb-3">
      <div class="col">
        <label for="quantite">Quantite *</label>
        <input
          type="number"
          id="quantite"
          class="form-control"
          formControlName="quantite"
        >
      </div>
    </div>

    <!-- Remise Decimal -->
    <div class="row mb-3">
      <div class="col">
        <label for="remiseDecimal">Remise Decimal*</label>
        <input
          type="number"
          id="remiseDecimal"
          class="form-control"
          formControlName="remiseDecimal"
        >
      </div>
    </div>

    <!-- Produit -->
    <div class="row mb-3">
      <div class="col">
        <label for="produit">Produit *</label>
        <select id="produit" class="form-select" formControlName="produit">
          <option value="">-- Sélectionner un produit --</option>
          <option *ngFor="let c of produits" [value]="c.id">
            {{ c.prenom }}
          </option>
        </select>
      </div>
    </div>

    <!-- Commande -->
    <div class="row mb-3">
      <div class="col">
        <label for="commande">Commande *</label>
        <select id="commande" class="form-select" formControlName="commande">
          <option value="">-- Sélectionner une commande --</option>
          <option *ngFor="let m of commandes" [value]="m.id">{{ m.nom }}</option>
        </select>
      </div>
    </div>


    <!-- Boutons -->
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-light me-2"
        (click)="onCancel()"
      >
        Annuler
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="articleCommandeForm.invalid"
      >
        {{ isEditMode ? 'Modifier' : 'Créer' }}
      </button>
    </div>
  </form>
</div>
