<div class="card p-4 shadow-sm" *ngIf="commande">
  <h2 class="mb-3 text-primary">{{ commande.nom }}</h2>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Status:</strong> {{ commande.status }}</li>
    <li class="list-group-item"><strong>Date commande:</strong> {{ commande.dateCommande | date:'dd/MM/yyyy' }}</li>
    <li class="list-group-item"><strong>Date livraison:</strong> {{ commande.dateLivraison | date:'dd/MM/yyyy' }}</li>
    <li class="list-group-item"><strong>Date livraison voulue:</strong> {{ commande.dateLivraisonVoulue | date:'dd/MM/yyyy' }}</li>
    <li class="list-group-item"><strong>Client:</strong> {{ commande.client?.prenom }}</li>
    <li class="list-group-item"><strong>Magasin:</strong> {{ commande.magasin?.nom }}</li>
    <li class="list-group-item"><strong>Vendeur:</strong> {{ commande.vendeur?.prenom }}</li>
  </ul>




  <div class="mt-4 d-flex justify-content-end">
    <button class="btn btn-outline-secondary me-2" (click)="onRetour()">
      <i class="fas fa-arrow-left"></i> Retour
    </button>
    <button class="btn btn-success me-2">
      <i class="fas fa-edit"></i> Modifier
    </button>
    <button class="btn btn-danger">
      <i class="fas fa-trash-alt"></i> Supprimer
    </button>
  </div>
</div>
